<mat-form-field style="width: 100%;" appearance="outline">
    <mat-label>Choose</mat-label>
    <mat-select  [(ngModel)]="add_new" (ngModelChange)="loanFilter($event,loan_filter)"  required>
    <mat-option value="1">New Document</mat-option>
    <mat-option value="2">New Question</mat-option>
    </mat-select>
 </mat-form-field>
 <mat-card *ngIf="add_new=='1'">
     <mat-card-header class="mat_card_header">Add New Document</mat-card-header>
 <div class="container">
     <div class="row">
         <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
            <mat-form-field style="width: 100%;" appearance="outline">
                <mat-label>Document Name</mat-label>
                <input matInput   placeholder="Your Document Name" name="price" required>
               
              </mat-form-field>
         </div>
         <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
            <mat-form-field style="width: 100%;" appearance="outline">
                <mat-label>Document Description</mat-label>
                <input matInput placeholder="Your Document Description"  name="price" >
               
              </mat-form-field>
         </div>
         <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
            <mat-form-field style="width: 100%;" appearance="outline">
                <mat-label>Category</mat-label>
                <mat-select  [(ngModel)]="category"  required>
                    <mat-option value="Misc">Misc</mat-option>
                    <mat-option value="Document Required">Document Required</mat-option>
                    </mat-select>
               
              </mat-form-field>
         </div>
         <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
            <mat-form-field style="width: 100%;" appearance="outline">
                <mat-label>Blank/Sample/Disclosure Document</mat-label>
                  <input matInput disabled placeholder="Upload Document">
                  <button (click)="fileInput.click()"  mat-button matSuffix mat-stroked-button matTooltip="Upload Document" aria-label="search">
                    <mat-icon>cloud_upload</mat-icon>
                </button>
              </mat-form-field>
                <input 
                style="display: none"
                type="file" (change)="onFileChanged($event)"
                #fileInput>
         </div>
       <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12" >
        <label id="example-radio-group-label">How Borrower Responds to this Document</label>
        <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="example-radio-group"
        [(ngModel)]="favoriteSeason">
        <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
            {{season}}
          </mat-radio-button>
        </mat-radio-group>
        <div >
            <button mat-raised-button color="primary" style="box-shadow: 6px 4px 7px #aaaaaa">Submit</button>
            <button mat-raised-button style="margin-left: 19px;box-shadow: 6px 4px 7px #aaaaaa">Cancel</button>
          </div>
       </div>
      
        
       
     </div>

 </div>
 
 </mat-card>

 <mat-card *ngIf="add_new=='2'">
    <mat-card-header class="mat_card_header">Add New Document</mat-card-header>
    <mat-form-field style="width: 100%;" appearance="outline">
        <mat-label>Document Name</mat-label>
        <input matInput   placeholder="Your Document Name" name="price" required>
       
      </mat-form-field>
      <mat-form-field style="width: 100%;" appearance="outline">
        <mat-label>Document Name</mat-label>
        <input matInput   placeholder="Your Document Name"  name="price" required>
       
      </mat-form-field>
    <angular-editor class="editor" [placeholder]="'Type your question to your borrower here..'" [config]="editorConfig" [(ngModel)]="htmlContent"></angular-editor>
 
    <div style="margin-top: 7%;">
        <button mat-raised-button color="primary" style="box-shadow: 6px 4px 7px #aaaaaa">Submit</button>
        <button mat-raised-button style="margin-left: 19px;box-shadow: 6px 4px 7px #aaaaaa">Cancel</button>
      </div>
</mat-card>