table {
    width: 100%;
  }
  .number_span{
    background: red;
    border-radius: 8px;
    padding: 3px;
    margin: 6px;
    color:white;
  }
  .number_span1{
    background: #fac40b;
    border-radius: 8px;
    padding: 3px;
    margin: 6px;
    color:white;
  }
  .number_span2{
    background: green;
    border-radius: 8px;
    padding: 3px;
    margin: 6px;
    color:white;
  }
  .action_icon{
    font-size: 20px;
      margin-right: 7px;
  }
  .add_icon{
    float: right;
    padding: 20px;
    font-size: 27px;
  }
  .mat_card_header{
    justify-content: center;
    padding: 20px;
    font-size: 20px;
    font-weight: 500;
  }
  .example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }
 
  
  .example-radio-button {
    margin: 5px;
  }
  ::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.5em 0px !important;}
  ::ng-deep .mat-form-field-label-wrapper { top: -1.5em; }
  
  ::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
        transform: translateY(-1.1em) scale(.75);
        width: 133.33333%;
  
    }