


    <div class="container-fluid ">
        <div class="container ">
            <div class="row cdvfdfd">
                <div class="col-lg-10 col-md-12 login-box">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 log-det">
                            <div class="small-logo">
                                 Login
                            </div>
                            <p class="dfmn">Please enter your user name and password to login</p>
                            


                            <div class="text-box-cont">
                                <form class="example-form" [formGroup]="loginUser">  
                    
                                <mat-form-field class="example-full-width">
                                    <mat-label>Email/Mobile</mat-label>
                                    <input #focusable (keyup.enter)="keytab($event, focusable)"  formControlName="email"  matInput  placeholder="Enter here" name="email">
                                    <mat-error *ngIf="(loginUser.get('email').hasError('pattern') )">Invalid email</mat-error>
                                  </mat-form-field>

                                  <mat-form-field class="example-full-width">
                                    <mat-label>Password</mat-label>
                                    <input #focusable (keyup.enter)="keytab($event, focusable1)"  formControlName="password"  matInput  placeholder="Enter here" name="email">
                                    <mat-error *ngIf="(loginUser.get('password').hasError('required') ) && loginUser.get('password').touched">Password Required</mat-error>
                                </mat-form-field>


                                <div class="forgot" style="margin-top: -15px;float:right;">
                                    <a mat-button routerLink="forgotpassword"  >Forgot Password?</a>
                                </div>
  
                                </form>
                                <div class="input-group center">
                                    <button class="btn btn-primary btn-round" [disabled]="!loginUser.valid" #focusable1 (click)="login()">SIGN IN</button>
                                </div> 
                                <div class="row">
                                    <p class="forget-p">Don't have an account? <span style="color: #007bff;"  routerLink="register">Sign Up Now</span></p>
                                </div>
                                 <div class="row">
                                    <p class="small-info">Connect With Social Media</p>
                                </div>   
                            </div>
                            
                            
                            
                            <div class="row" style="justify-content: center;">
                              
                                    <img class="img_hi" src="http://18.220.130.166/backend/uploads/fb.png">
                                   <img class="img_hi" src="http://18.220.130.166/backend/uploads/gmail.png">
                                  
                            </div>
                           


                        </div>
                        <div class="col-lg-6 col-md-6 box-de">
                           <div class="inn-cover">
                               <div class="ditk-inf">
                                   <div class="small-logo">
                                    <img src="https://sethtaylor.floify.com/logo-apply-now?x=679013851" style="width: 130px;" alt="logo">
                            </div>
                                    <h2 class="w-100 text_fo" style="color: white; font-weight: bold;">Don't Have an Account? </h2>
                                    <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book.</p>
                                    <a >
                                    <button type="button" class="btn btn-outline-light"  routerLink="register">SIGN UP</button>
                                    </a>
                                </div>
                                 <div class="foter-credit">
                               </div>
                           </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- <h1>esrgdsg</h1> -->