//


.coltop{
    // background-color: #1d409b;
    background-image:url('http://18.220.130.166/backend/uploads/banner-1.jpg');
         background-size:cover;
         background-color: rgba(0, 0, 0, 0.6);
     height: 100vh;
     color: white;
}

.overlay{
    background: #00000094;
    width: 104%;
    height: 100%;
    margin-left: -19px;
}
// .col8{
//     // padding: 60px;
// }
.h8{
    font-family: 'Asul';
}

.login{
    color: #393a3e;
    text-align: left;
    font-size: 25px;
}
.btn1{
    border-color: white;
    border-radius: 0px;
    width: 18%;
}
.btn2{
    margin-left: 42px;
    border-color: white;
    color: white;
    border-radius: 0px;
    width: 18%;
}

// .col4{
//     padding: 20px;
// }

.head4{
    color:#1d409b;
    text-align: -webkit-center;
}
.title2{
    
    text-align: -webkit-center;
}
.check1{
    margin-top: 5px;
    margin-bottom: 18px;
}

.btn8{
    margin-bottom: 2rem;
}
.login-footer {
    padding: 20px;
    border-top: solid 1px #ececec;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}
.pull-left {
    float: left;
}
.pull-right {
    float: right;
}
.login-footer img {
    height: 40px;
}

img {
    vertical-align: middle;
    border-style: none;
}
.login-footer p {
    font-size: 13px;
    margin: 0;
}

.middle-card{
    text-align: end;
    padding: 28px;
    margin-top: 100px;
}
.login-info {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 30px;
    max-width: 600px;
}
.login-info h3 {
    color: #fff;
    font-size: 26px;
}
.login-info p {
    color: #fff;
    font-size: 14px;
}
.login-hint{
    font-size: 13px;
    text-align: left;
    color: #80828e;

}

//-------------------------------------------------------------------------------------//@extend
.container-fluid {
    padding: 0px;
}
.login-box {
    background-color: #FFF;
    float: none;
    margin: auto;
    border-radius: 25px !important;

    margin-top: 6%;
}

.log-det {
    padding: 40px;
}
.log-det .small-logo {
    text-align: center;
    align-items: center;
    // color: #c82333;
    color: #007bff;
    font-size: 1.2rem;
}

.log-det .dfmn {
    margin-top: 15px;
    font-size: .9rem;
}
.log-det p {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
}

.log-det .text-box-cont {
    max-width: 300px;
    float: none;
    margin: auto;
}

// .box-de {
//     background-image: url('../../../assets/images//bg.jpg');
//     background-size: 100%;
//     padding: 0px;
//     border-top-right-radius: 25px;
//     border-bottom-right-radius: 25px;
// }

// .box-de .inn-cover {
//     display: flex;
//     background-color: rgba(200, 35, 51, 0.7);
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     border-top-right-radius: 25px;
//     border-bottom-right-radius: 25px;
//     padding: 30px;
// }

.box-de {
    // background-image: url('http://18.220.130.166/backend/uploads/gif-preview.gif');
    background-size: cover;
    padding: 0px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    background-repeat: no-repeat;
}

.box-de .inn-cover {
    display: flex;
    background-color:  rgba(75, 102, 134, 0.7);
    position: absolute;
    width: 100%;
    height: 100%;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 30px;
}
.box-de .foter-credit {
    position: absolute;
    bottom: 10px;
    right: 6%;
    font-size: 14px;
    padding: 10px;
    color: #FFF;
    font-weight: 300;
}
.login-box {
    background-color: #FFF;
    float: none;
    margin: auto;
    border-radius: 25px !important;
    -webkit-box-shadow: 0px 0px 72px -10px rgba(0, 0, 0, 0.44);
    -moz-box-shadow: 0px 0px 72px -10px rgba(0, 0, 0, 0.44);
    box-shadow: 0px 0px 72px -10px rgba(0, 0, 0, 0.44);
    border-radius: 5px;
    margin-top: 2.5%;
}

.box-de .ditk-inf {
    margin: auto;
    align-items: center;
    text-align: center;
    color: #FFF;
}
.box-de .ditk-inf .small-logo {
    position: relative;
    top: 0px;
    margin-bottom: 20px;
    font-size: 1.3rem;
    margin-right: 45px;
}

.box-de .small-logo {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #FFF;
}

.w-100 {
    width: 100%!important;
}
.box-de .ditk-inf p {
    margin-top: 15px;
    font-size: .7rem;
}

.box-de .ditk-inf .btn-outline-light {
    border-radius: 50px;
    box-shadow: none;
    padding: 5px 20px;
    margin-top: 25px;
}

.box-de .ditk-inf {
    margin: auto;
    align-items: center;
    text-align: center;
    color: #FFF;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "mouse-500", Arial, Helvetica, sans-serif;
}

.box-de .small-logo {
    position: relative;
    top: 0px;
    margin-bottom: 20px;
    font-size: 1.3rem;
    left: 20px;
    color: #FFF;
}

.log-det .text-box-cont {
    max-width: 300px;
    float: none;
    margin: auto;
}
.log-det .text-box-cont .input-group input {
    border-left: 0px;
    border-radius: 0px;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
}

.log-det .text-box-cont .input-group .input-group-prepend span {
    background-color: #F8F8F8;
    border-radius: 0px;
    border-right: 0px;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
}
.input-group-prepend {
    margin-right: -1px;
}


.log-det .text-box-cont .btn {
    border-radius: 50px;
    padding: 10px 30px;
    margin: auto;
    margin-bottom: 10px;
    font-size: 13px;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.log-det .btn {
    width: 100%;
}

.log-det ul li i {
    padding: 10px;
    border: 1px solid #CCC;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50px;
}

.log-det .small-info {
    font-size: .9rem;
    border-top: 1px solid #cccccc73;
    padding-top: 20px;
    margin-bottom: 5px;
}

.log-det p {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
}
.ul_wi{
    width: 134px !important;
}

.img_hi{
    height: 45px;
}
.text_fo{
    font-size: 26px;
}
.error{
    font-size: 10px;
    color: red;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }





@media only screen and (max-width: 780px) {
    .inn-cover {
     visibility: hidden;
    }
  }

