<div class="p_30" id="autoSizeMain">
    <mat-card class="mat-elevation-z8">
       <mat-form-field style="width: 100%;" appearance="outline">
          <mat-label>Choose</mat-label>
          <mat-select  [(ngModel)]="loan_filter" (ngModelChange)="loanFilter($event,loan_filter)"  required>
          <mat-option value="1">Active</mat-option>
          <mat-option value="2">Pending</mat-option>
          <mat-option value="3">Archived</mat-option>
          </mat-select>
       </mat-form-field>
       <mat-form-field>
          <input (keyup)="applyFilter($event.target.value)" matInput placeholder="Search Filter">
       </mat-form-field>
       <table [dataSource]="dataSource" mat-table matSort>
          <ng-container matColumnDef="flow">
             <th *matHeaderCellDef mat-header-cell mat-sort-header> Flow</th>
             <td *matCellDef="let element" mat-cell># <span class="number_span"> {{element.count1}} </span><span class="number_span1">{{element.count2}}</span><span class="number_span2">{{element.count3}}</span> </td>
          </ng-container>
          <ng-container matColumnDef="borrower">
             <th *matHeaderCellDef mat-header-cell mat-sort-header> Borrower</th>
             <td *matCellDef="let element" mat-cell> {{element.borrower}} </td>
          </ng-container>
          <ng-container matColumnDef="name">
             <th *matHeaderCellDef mat-header-cell mat-sort-header> Flow Name</th>
             <td *matCellDef="let element" mat-cell> {{element.name}} </td>
          </ng-container>
          <ng-container matColumnDef="owner">
             <th *matHeaderCellDef mat-header-cell mat-sort-header> Flow Owner</th>
             <td *matCellDef="let element" mat-cell> {{element.owner}} </td>
          </ng-container>
          <ng-container matColumnDef="status">
             <th *matHeaderCellDef mat-header-cell mat-sort-header> Status</th>
             <td *matCellDef="let element" mat-cell> {{element.status}} </td>
          </ng-container>
          <ng-container matColumnDef="action">
             <th *matHeaderCellDef mat-header-cell mat-sort-header> Action</th>
             <td *matCellDef="let element" mat-cell><i (click)="edit_loan(element)" matTooltip="Edit" class="far fa-edit pointer" style="margin-right: 5px;" aria-hidden="true"></i> <i matTooltip="Delete" (click)="delete_Loan(element.id)" class="fas fa-trash-alt pointer" style="margin-right: 5px;" aria-hidden="true"></i><i matTooltip="Archive" *ngIf="loan_filter!='3'" (click)="archive_loan(element.id)" class="fas fa-box-open pointer" style="margin-right: 5px;" aria-hidden="true"></i>
                <i *ngIf="loan_filter=='3'" (click)="remove_archive(element.id,element.loan_status)" matTooltip="Remove Archive " class="fas fa-box-open pointer" style="margin-right: 5px;" aria-hidden="true"></i>    
                <i  class="fa fa-comments pointer" aria-hidden="true"></i>
             </td>
          </ng-container>
          <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
          <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
       </table>
       <div *ngIf="show_error==true" style="text-align: center;
          margin-top: 20px;">No data Found !</div>
       <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </mat-card>
 </div>