<mat-card style="text-align: end;">
    <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
            <mat-form-field style="width: 100%;">
                <mat-label>Flow</mat-label>
                <input matInput placeholder="" [(ngModel)]="data.count1">
              </mat-form-field>
            
              <mat-form-field style="width: 100%;">
                <mat-label>Flow</mat-label>
                <input matInput placeholder="" [(ngModel)]="data.count2">
              </mat-form-field>
              <mat-form-field style="width: 100%;">
                <mat-label>Flow</mat-label>
                <input matInput placeholder="" [(ngModel)]="data.count3">
              </mat-form-field>
              <mat-form-field style="width: 100%;">
                <mat-label>Borrower</mat-label>
                <input matInput placeholder="" [(ngModel)]="data.borrower">
              </mat-form-field>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
          
            
              <mat-form-field style="width: 100%;">
                <mat-label>Flow Name</mat-label>
                <input matInput placeholder="" [(ngModel)]="data.name">
              </mat-form-field>
              <mat-form-field style="width: 100%;">
                <mat-label>Flow Owner</mat-label>
                <input matInput placeholder="" [(ngModel)]="data.owner">
              </mat-form-field>
              <mat-form-field style="width: 100%;">
                <mat-label>Status</mat-label>
                <input matInput placeholder="" [(ngModel)]="data.status">
              </mat-form-field>
          </div>
        </div>
    </div>
   <div>
    <button mat-flat-button style="background: #52a9c5;
    color: white;" (click)="edit_loan(data)" >Save</button>
   </div>
    
 
</mat-card>