<div class="p_30" id="autoSizeMain">

    <div class="head_sty">
        <h6>Template Document Categories</h6>
        <p class="p_sty">Document categories like Income and Assets make everyone's lives easier. Manage your template document categories here.</p>
        <hr>
    
        <div class="grid">
            <div class="row">
                 <div class="col-lg-6">
                     <mat-form-field class="col-lg-12">
                         <mat-label>Enter Category Name</mat-label>
                         <input matInput [(ngModel)]="category">
                     </mat-form-field>
                 </div>
                 <div class="btn_dis">
                     <button  class=" m-auto" (click)="addCate()" color="primary" mat-stroked-button>Add</button>
                     <button class="btn_wi m-auto" (click)="updateCate()" color="warn" mat-raised-button>cancel</button>
                 </div>
            </div> 
     </div>
    
    
        <mat-card class="mat-elevation-z8">
    
            <!-- <mat-form-field>
               <input (keyup)="applyFilter($event.target.value)" matInput placeholder="Search Filter">
            </mat-form-field> -->
            <table [dataSource]="dataSource" mat-table matSort>
        
               <ng-container matColumnDef="name">
                  <th *matHeaderCellDef mat-header-cell mat-sort-header> Flow Name</th>
                  <td *matCellDef="let element" mat-cell> {{element.name}} </td>
               </ng-container>
         
         
               <ng-container matColumnDef="action">
                  <th *matHeaderCellDef mat-header-cell mat-sort-header> Action</th>
                  <td *matCellDef="let element" mat-cell>
                      <i (click)="edit_loan(element)" matTooltip="Edit" class="far fa-edit pointer" style="margin-right: 5px;" aria-hidden="true"></i> 
                      <i matTooltip="Delete" (click)="delete_Loan(element.id)" class="fas fa-trash-alt pointer" style="margin-right: 5px;" aria-hidden="true"></i>
                  </td>
               </ng-container>
               <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
               <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
            </table>
            <div *ngIf="show_error==true" style="text-align: center;
               margin-top: 20px;">No data Found !</div>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
         </mat-card>
    </div>
    
    
    
    </div>