.page-wrapper {
  height: 100vh;

  .page-content {
    display: inline-block;
    width: 100%;
    padding-top: 20px;
    transition: padding-left .3s ease;
    // transition: 0.5s;

    @media screen and (min-width: 768px) {
      // padding-left: 60px;
      padding-left: 110px;
    }

    .overlay {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 998;
      background: #000;
      opacity: .5;
      display: none;

      &.show {

        @media screen and (max-width: 768px) {
          display: block;
        }
      }
    }
  }

  .sidebar {
    left: 0px;
  }

  &.toggled {

    .page-content {
      padding-left: 0;
    }
  }

  .attribution{
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 5px;
    margin: 5px;
    letter-spacing: 1px;
  }
}


  
  .sidenav-container {height: 100%;} 
.sidenav {width: 200px;}
.sidenav .mat-toolbar { background: inherit;}
.mat-toolbar.mat-primary { position: sticky;top: 0;z-index: 1;}
.w_0{ margin-left: 0px !important;}
.t_0{top:65px !important;background-color:#181334 !important;}
.nav_clr{background-color:white !important;  box-shadow: 10px 10px 5px grey !important;    position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 10;}
.fill-remaining-space {flex: 1 1 auto; text-align:end !important;}
.userimg{width: 40px; border-radius: 50%;height: 36px;border: 1px solid #fac489;margin: 5px;}
.img_t{font-size: 13px; color:whitesmoke;}
.h_1{color:#fac489;font-size: xx-large;}
.nav_bs{width:100% !important; box-shadow: 0px 3px 10px grey !important;z-index: 100 !important;}
.amml-item[_ngcontent-jxm-c10]{background: transparent;line-height: 48px;position: relative;cursor: pointer;color: white !important;}
.titleIcon{height: 40px;}

.user-pic {
    float: left;
    width: 46px;
    border-radius: 12px;
    overflow: hidden;

    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }

  #show-sidebar {
    position: fixed;
    left: 0;
    top: 90px;
    border-radius: 0 4px 4px 0px;
    width: 35px;
    transition-delay: 0.3s;
    z-index: 1;
  }
  .btn-dark {
    color: #fff;
    background-color: #343a4091;
    border-color: #343a4014;
    padding: 5px;
  }
  .ml_5{
    margin-left: 5px;
  }