
<div class="page-wrapper" [ngClass]="{'toggled' : getSideBarState()}">
<app-sidebar></app-sidebar>



<mat-toolbar class="nav_clr"   *ngIf="this.route!=''" >
  <mat-toolbar-row  class="nav_bs">
     <button
     type="button"
     aria-label="Toggle sidenav"
     mat-icon-button
     (click)="drawer.toggle()"
     *ngIf="isHandset$ | async">
     <mat-icon aria-label="Side nav toggle icon" style="color: black;"> menu</mat-icon>
     </button>
     <span class="h_1"> <img src="https://sethtaylor.floify.com/logo-apply-now?x=679013851" class="titleIcon" alt="" /></span>
     <span class="fill-remaining-space">
        <button [matMenuTriggerFor]="menu" mat-button style="border:none">
           <div class="user-pic">
              <img class="img-responsive img-rounded" src="assets/img/user.jpg" alt="User picture">
           </div>
        </button>
        <mat-menu #menu="matMenu">
           <button mat-menu-item (click)="profile()">Profile</button>
           <button mat-menu-item (click)="change()">Change password</button>
           <button mat-menu-item (click)="logout()">Logout</button>
        </mat-menu>
     </span>
  </mat-toolbar-row>
</mat-toolbar>
<a id="show-sidebar" class="btn btn-sm btn-dark"  *ngIf="this.route!=''" (click)="toggleSidebar()">
<span class="material-icons">menu</span>
</a>
<main class="page-content">
  <div class="container-fluid" id="autoSize">
     <router-outlet></router-outlet>
  </div>
</main>
</div>

  

