<div >
  
        <div class="header-font">
            <h5 >Add Quick Packs</h5>
        <!-- <i slot="end" class="fa fa-plus-circle " matTooltip="Add New Doc/Que/Form" (click)="addNew()" aria-hidden="true"></i> -->
           
        </div>
    
       <div>
        <mat-form-field style="width: 100%;" appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Enter Name" >
          </mat-form-field>
          <p>Choose Docs and Forms for this Pack *</p>
        <mat-form-field style="width: 40%;">
            <input (keyup)="applyFilter($event.target.value)" matInput placeholder="Search Filter">
         </mat-form-field>
       </div>
      
       <table [dataSource]="dataSource" mat-table matSort>
          <ng-container matColumnDef="flow">
             <th *matHeaderCellDef mat-header-cell mat-sort-header> Flow</th>
             <td *matCellDef="let element" mat-cell># <span class="number_span"> {{element.count1}} </span><span class="number_span1">{{element.count2}}</span><span class="number_span2">{{element.count3}}</span> </td>
          </ng-container>
          <ng-container matColumnDef="checked">
            <th *matHeaderCellDef mat-header-cell > <mat-checkbox [(ngModel)]="selectall" style="margin-right: 10px;" (change)="checkUncheckAll()"></mat-checkbox> Select</th>
            <td *matCellDef="let element" mat-cell> <mat-checkbox [(ngModel)]="element.checked"></mat-checkbox></td>
         </ng-container>
          <ng-container matColumnDef="name">
             <th *matHeaderCellDef mat-header-cell mat-sort-header> Name</th>
             <td *matCellDef="let element" mat-cell> {{element.name}} </td>
          </ng-container>
          <ng-container matColumnDef="category">
             <th *matHeaderCellDef mat-header-cell mat-sort-header>Category</th>
             <td *matCellDef="let element" mat-cell>{{element.category}}</td>
          </ng-container>
          <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
          <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
       </table>
       <div *ngIf="show_error==true" style="text-align: center;
          margin-top: 20px;">No data Found !</div>
       <mat-paginator [pageSizeOptions]="[5, 10, 20,100]" showFirstLastButtons></mat-paginator>

       <div style="margin-top: 7%;">
        <button mat-raised-button color="primary" style="box-shadow: 6px 4px 7px #aaaaaa" (click)="addquickpack()">Submit</button>
        <button mat-raised-button style="margin-left: 19px;box-shadow: 6px 4px 7px #aaaaaa">Cancel</button>
      </div>
  
 </div>