
<div class="p_30" id="autoSizeMain">
    <mat-card class="mat-elevation-z8">
        <div class="header-font">
            <h5>Quick Packs</h5>
            <p>Quick Packs are pre-defined needs lists.Manage yours here</p>
        </div>
    
       <div>
        <mat-form-field style="width: 40%;">
            <input (keyup)="applyFilter($event.target.value)" matInput placeholder="Search Filter">
         </mat-form-field>
        <i class="fa fa-plus-circle add_icon" matTooltip="Add New Doc/Que/Form" (click)="addNew()" aria-hidden="true"></i>
       </div>
      
       <table [dataSource]="dataSource" mat-table matSort>
          <ng-container matColumnDef="flow">
             <th *matHeaderCellDef mat-header-cell mat-sort-header> Flow</th>
             <td *matCellDef="let element" mat-cell># <span class="number_span"> {{element.count1}} </span><span class="number_span1">{{element.count2}}</span><span class="number_span2">{{element.count3}}</span> </td>
          </ng-container>
          <ng-container matColumnDef="name">
             <th *matHeaderCellDef mat-header-cell mat-sort-header> Name</th>
             <td *matCellDef="let element" mat-cell> {{element.name}} </td>
          </ng-container>
          <ng-container matColumnDef="action">
             <th *matHeaderCellDef mat-header-cell mat-sort-header> Action</th>
             <td *matCellDef="let element" mat-cell><i (click)="edit_loan(element)" matTooltip="Edit" class="far fa-edit pointer" style="margin-right: 5px;" aria-hidden="true"></i> <i matTooltip="Delete" (click)="delete_Loan(element.id)" class="fas fa-trash-alt pointer" style="margin-right: 5px;" aria-hidden="true"></i>
             
             </td>
          </ng-container>
          <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
          <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
       </table>
       <div *ngIf="show_error==true" style="text-align: center;
          margin-top: 20px;">No data Found !</div>
       <mat-paginator [pageSizeOptions]="[5, 10, 20,100]" showFirstLastButtons></mat-paginator>
    </mat-card>
 </div>