/* You can add global styles to this file, and also import other style files */

$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~perfect-scrollbar/css/perfect-scrollbar.css';



body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;background-color:#7975750d;}
html, body { height: 100%; }
.p_5{ padding: 5px;}
.p_10{ padding: 10px;}
.p_30{padding: 30px;}
.pointer{cursor: pointer;}
// .showdropName{
//     display:inline;
//   }
  
//   .hidedropName{
//     display:none;
//   }
